


<div class="card" style="width: 18rem">
    <h4 class="card-title">{{this.name}}</h4>
  <img src="{{this.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    
    <p class="card-text">{{this.description}}</p>
    <a href="/bird/{{this.id}}" class="btn btn-primary">Ver detalles</a>
  </div>
</div>