


<div class="card" style="width: 18rem">
    <h4 class="card-title">{{this.nombre}}</h4>
  <div class="card-body">
  <img src="{{this.image}}" class="card-img-top" alt="...">
    
    <a href="/bird/{{this.id}}" class="btn btn-primary">Ver detalles</a>
  </div>
</div>